  
div#header-container{
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    top: 0;
    transition: all .3s;
    z-index: 3;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div#header-container.header-container-change{
    background-color: white;
    transition: all .3s;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);

}
div#header-container div.header-right{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
div#header-container div.header-right>a{
    width: 100px;
}
div#header-container div.header-left{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
div#header-container div.header-left>div>a{
    color: white;
    font-family: 'iransans';
    font-weight: 300;
    height:fit-content ;
    padding: 10px 10px;
    font-size: 15px;
    /* background-color: red; */
    text-shadow: 1px 1px rgba(0, 0, 0, 0.601);


}
div#header-container.header-container-change div.header-left>div>a{
    color: #333;
    font-family: 'iransans';
    font-weight: 300;
    height:fit-content ;
    padding: 10px 10px;
    font-size: 15px;
    /* background-color: red; */
    text-shadow: none;


}
div#header-container div.header-left>div.header-account{
    /* background-color: red; */
    color: white;
    font-family: 'iransans';
    font-weight: 300;
    height:fit-content ;
    padding: 10px 10px;
    font-size: 15px;
    /* background-color: red; */
    text-shadow: 1px 1px rgba(0, 0, 0, 0.601);
    cursor: pointer;
}
div#header-container.header-container-change div.header-left>div.header-account{
    color: #333;
    font-family: 'iransans';
    font-weight: 300;
    height:fit-content ;
    padding: 10px 10px;
    font-size: 15px;
    /* background-color: red; */
    text-shadow: none;


}

div#header-container.header-container-change div.header-search-container>div.search-box{
    box-shadow: 0 0 2px .5px #999;
}

div#header-container div.header-left>div.header-mob-icon{
    display: none;
}
div#header-container div.header-left>div.header-mob-icon>svg{
    fill: white;
}
div#header-container.header-container-change div.header-left>div.header-mob-icon>svg{

    fill:#333 ;
}
@media only screen and (max-width: 767px) {
    div#header-container div.header-left>div.header-mob-icon{
        display: block;
    }
    div#header-container div.header-left>div>a.header-links{
        display: none;
    }
    
    
}


div#header-container div.login-form{
    display: none;
    position: absolute;
    margin: 0 auto;
    width: 100vw;
    /* background-color: rgba(0, 0, 0, 0.437); */
    /* height: 400px; */
    top: 0;
    border-radius: 5px;
    z-index: 3;
    height: 100vh;
    overflow-y: scroll;
}
div#header-container div.login-form>h3{
    font-family: "iransans";
    color: white;
    position: relative;
    z-index: 3;
    padding: 10px;
    font-size: 25px;

}
div#header-container div.login-form div.dark-win{
    width: 100%;
    height: 100%;
    background-color: #00000099;
    display: none;
    position: absolute;
}
div#header-container div.login-form div.dark-win-show{
    display: block;
}
div#header-container div.login-form-show{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div#header-container div.register-form{
    display: none;
    position: absolute;
    margin: 0 auto;
    width: 100vw;
    /* background-color: white; */
    /* height: 400px; */
    /* right: 50vw; */
    /* margin-right: -150px; */
    top: 0px;
    height: 100vh;
    border-radius: 5px;
    z-index: 3;
    overflow-y: scroll;

}
div#header-container div.register-form>h3{
    font-family: "iransans";
    color: white;
    position: relative;
    z-index: 3;
    padding: 10px;
    font-size: 25px;
}

div#header-container div.register-form div.dark-win{
    width: 100%;
    height: 100%;
    background-color: #00000099;
    display: none;
    position: absolute;
}
div#header-container div.register-form div.dark-win-show{
    display: block;
}

div#header-container div.register-form-show{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


