div#home-main-how-it-works{
    /* background-color: red; */
    margin-top: 100px;
}
div#home-main-how-it-works>div.container{
    /* background-color: yellow; */
}
div#home-main-how-it-works>div.container div.works-title{

    /* background-color: green; */
    display: flex;
    /* height: 100px; */
    flex-direction: row;
    margin: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #333;
    font-family: 'iransans';
    font-weight: 300;
    margin-bottom: 20px;
    padding: 10px 10px;
    font-size: 15px;
    /* background-color: red; */
    text-shadow: none;
    flex-wrap: nowrap;
    overflow: hidden;

}
div#home-main-how-it-works>div.container div.works-title>h3{
    width: fit-content;
    margin: 0;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 300;
    background-color: whitesmoke;
    z-index: 2;
    

}
div#home-main-how-it-works>div.container div.works-title>hr{
    margin: 0;
    position: absolute;

    /* z-index: 1; */
}

div#home-main-how-it-works>div.container div.works-body{
    /* background-color: greenyellow; */
    color: #333;
    font-family: 'iransans';
    font-weight: 300;

}

div#home-main-how-it-works>div.container div.works-body div.works-left{
    /* direction: justify; */
    display: flex;
    justify-content: center;
    align-items: center;


}
div#home-main-how-it-works>div.container div.works-body div.works-left>div{
    display: grid;
    grid-template-columns: minmax(100px,1fr) minmax(100px,1fr) minmax(100px,1fr);
    justify-items: stretch;
    align-items: stretch;
    column-gap: 20px;
    row-gap: 20px;

}
div#home-main-how-it-works>div.container div.works-body div.works-left>div>div{

    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* width: max-content; */
    height: 200px;
    color: #444;
    font-size: 20px;
    transition: all .3s;

}
div#home-main-how-it-works>div.container div.works-body div.works-left>div>div svg{
    width: 45px;
    height: 45px;
    fill: white;
    transition: all .3s;

    /* padding: 50px; */

}
div#home-main-how-it-works>div.container div.works-body div.works-left>div>div>span{
    background-color: #7C4FE0;
    border-radius: 100%;
    padding: 30px;
    transition: all .3s;
    border: 2px solid white;


}
div#home-main-how-it-works>div.container div.works-body div.works-left>div>div:hover{

    transition: all .3s;
    background-color: #7C4FE0;
    color: white;

}

div#home-main-how-it-works>div.container div.works-body div.works-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: #666;
    font-weight: 200;
    font-size: 20px;
}


@media only screen and (max-width: 632px) {
    div#home-main-how-it-works>div.container div.works-body div.works-left>div{
        display: grid;
        grid-template-columns: minmax(100px,1fr) minmax(100px,1fr);
        justify-items: stretch;
        align-items: stretch;
        column-gap: 20px;
        row-gap: 20px;
    
    }
    
}
@media only screen and (max-width: 579px) {
    div#home-main-how-it-works>div.container{
        /* background-color: yellow; */
        padding: 0 20px;
    }
}

