div#user-cart-main-container{
    /* background-color: ; */
    height:fit-content;
    margin-top: 100px;
    position: relative;
    /* bottom: 100px; */
    z-index: 1;
    font-family: 'iransans';
    font-weight: 300;
    font-size: 15px;
    padding: 0;
    padding-top: 20px;

}
div#user-cart-container div#header-container{
    background-color: white;
    transition: all .3s;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);
}
div#user-cart-container div#header-container div.header-left>div>a{

    color: #333;
    font-family: 'iransans';
    font-weight: 300;
    height:fit-content ;
    padding: 10px 10px;
    font-size: 15px;
    /* background-color: red; */
    text-shadow: none;



}
div#user-cart-container div#header-container div.header-left>div.header-account{
    color: #333;
    font-family: 'iransans';
    font-weight: 300;
    height:fit-content ;
    padding: 10px 10px;
    font-size: 15px;
    /* background-color: red; */
    text-shadow: none;


}

div#user-cart-container div#header-container div.header-search-container>div.search-box{
    box-shadow: 0 0 2px .5px #999;
}
div#user-cart-container div#header-container div.header-left>div.header-mob-icon>svg{
    fill:#333 ;
}





div#user-cart-main-container>div.container div.user-cart-title{

    /* background-color: green; */
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: right;
    align-items: center;
    color: #333;
    font-family: 'iransans';
    font-weight: 300;
    height:fit-content ;
    margin-bottom: 20px;
    padding: 10px 10px;
    font-size: 15px;
    /* background-color: red; */
    text-shadow: none;
    flex-wrap: nowrap;
    overflow: hidden;

}
div#user-cart-main-container>div.container div.user-cart-title>h3{
    width: fit-content;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 300;
    padding-left:10px ;
    

}
div#user-cart-main-container>div.container div.user-cart-title>hr{
    margin: 0;

}

div#user-cart-main-container>div.container div.user-cart h4{
    font-size: 18px;
    padding: 0;
    margin: 0;
    color: #444;
}
div#user-cart-main-container>div.container div.user-cart div.reserve-list>ul{
    /* background-color: red; */
    width: 100%;
    display: flex;
    padding: 0;
    margin-top:20px ;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
div#user-cart-main-container>div.container div.user-cart div.reserve-list>ul>li{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    width: 100%;

}
div#user-cart-main-container>div.container div.user-cart div.reserve-list>ul>li>div.item-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
    gap: 10px;

}
div#user-cart-main-container>div.container div.user-cart div.reserve-list>ul>li>div.item-img>img{

    aspect-ratio: 1/1;
    width: 50px;
    border-radius: 5px;
}
div#user-cart-main-container>div.container div.user-cart div.reserve-list>ul>li>div.item-img>h4{

    font-size: 15px;
    font-weight: 300;
}
